*{
    padding: 0; margin: 0;
}
.container{
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

.title{
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 5% 0%;
}
.row-title{
    width: 70px;
    height: 100%-10px;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.row-title a{
    font-size: 25px;
    font-weight: bold;
    color: rgb(146, 145, 145);
}
.row-title a:hover{
    color: #FE6466;
    border-bottom: 5px solid #FE6466;
    
}
.row-title a:active{
    background-color: aliceblue;
}
.category{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
}
.image{
    width: 190px;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0);
    transition: 0.5s;
    margin: 10px 10px;
}
.image:hover{
    border: 1px solid rgb(194, 191, 191);
}
.image img{
    width: 190px;
    height: 195px;
    transition: 0.5s;
    filter: grayscale(100%);
}
.image img:hover{
    width: 170px;
    height: 175px;
    filter: grayscale(0%);
}