.container{
    display: grid;
    grid-template-columns: 45% 55%;
    height: 1000px;
}
.left-collum{
    background-color: #5952FF;
}
.cl-footer{
    height: 100px;
}
.cr-footer{
    height: 100px;
}
.img img{
    width: 500px;
}
.form input{
    border: 3px solid rgb(201, 197, 197);
}
.form input:hover{
    border: 3px solid #18a6d1;
}
.form a{
    color: rgb(11, 166, 218);
    font-size: 20px;
    cursor: pointer;
}
.form a:hover{
    text-decoration: underline;
}
.form button{
    height: 50px;
    width: 110px;
    background-color: #5952FF;
    border-radius: 7px;
    color: white;
    font-size: 20px;
}
.cr-footer{
    position: relative;
}
.status{
    position: absolute;
    font-size: 20px;
    color: rgb(201, 197, 197);
    bottom: 40%;
    right: 30%;
}
.terms{
    position: absolute;
    right: 20%;
    bottom: 40%;
    font-size: 20px;
    color: rgb(201, 197, 197);
}